<!-- #METADATA
@title Split
@type Layout
@class "split"
@description Provides a layout that floats 2 child objects in opposite directions (left and right).
@note Split items also have default spacing in the case that the floated children cross paths with narrow browser widths. Applying a width to children is recommended if children are very wide, but in such a case, the blocks object would be more appropriate.
 -->
 <div class="split">
     <div class="split-left">
        <div class="styleguide-exampleBlock">
            This is floated left
        </div>
     </div>
     <div class="split-right">
         <div class="styleguide-exampleBlock">
            This is floated right
         </div>
     </div>
 </div>