<!-- #METADATA
@title Selector Box
@type Module / Object
@class "selectorBox"
@description This is a custom select box that requires javascript to function.
@note: 
 -->
 <div class="hdg hdg_3 mix-hdg_darken">Currently can't be rendered</div>
<!-- <div class="vr vr_x12">
    <ul class="hList">
        <li>
            <div ng-class="{'selectorBox_isActive':isSelectorBoxVisible}" class="selectorBox">
                <div ng-click="isSelectorBoxVisible = !isSelectorBoxVisible" ng-init="isSelectorBoxVisible = false" class="selectorBox-hd">Select Option
                    <span class="selectorBox-hd-icn"><i ng-class="{'icn_angle-up':isSelectorBoxVisible, 'icn_angle-down': !isSelectorBoxVisible}" class="icn"></i></span>
                </div>
                <div class="selectorBox-bd">
                    <ul class="selectorBox-bd-list">
                        <input type="hidden" ng-value="ngModel"/>
                        <li
                                ng-repeat="item in [{option: 1, itemLabel: 'label 1'},{option: 2, itemLabel: 'label 2'}]"
                                ng-click="updateSelection(item)">
                                Option {{ item.itemLabel}}
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div> -->