/* ---------------------------------------------------------------------
 Constrain:
 This object constrains content and optionally centers it with extensions.
 Extensions are also used for applying different max-widths.
------------------------------------------------------------------------ */
$constrain-SPACING_UNIT: 50px;

.constrain {
	max-width: $SITE_MAX_WIDTH;
}

.constrain_x5 {
	max-width: $constrain-SPACING_UNIT * 5;
}

.constrain_x10 {
	max-width: $constrain-SPACING_UNIT * 10;
}

.constrain_x12 {
	max-width: $constrain-SPACING_UNIT * 12;
}

.constrain_x15 {
	max-width: $constrain-SPACING_UNIT * 15;
}

.constrain_x18 {
	max-width: $constrain-SPACING_UNIT * 18;
}

.constrain_x19 {
	max-width: $constrain-SPACING_UNIT * 19;
}

.mix-constrain_page {
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}