<!-- #METADATA
@title Constrain
@type Layout
@class "constrain"
@description Constrains other objects to a max-width and is centered by default.
@note Extensions and mixins can be used to override the centering and change the max-width value.
-->
<!-- default constrain -->
<div class="vr vr_x4">
    <div class="constrain">
        <div class="styleguide-exampleBlock"><div class="hdg hdg_8">Constrain (Default): </div>Maximum width is 1024px, it's centered. Side padding acts as like a margin.</div>
    </div>
</div>

<!-- medium constrain -->
<div class="vr vr_x4">
    <div class="constrain constrain_md mix-constrain_natural">
        <div class="styleguide-exampleBlock"><div class="hdg hdg_8">Constrain (Medium): </div>Maximum width is 438px, it's centered, and gets some side padding for separation</div>
    </div>
</div>

<!-- large constrain -->
<div class="vr vr_x4">
    <div class="constrain constrain_mdLg mix-constrain_natural">
        <div class="styleguide-exampleBlock">
            <div class="hdg hdg_8">Constrain (Medium Large): </div>Maximum width is 475px, it's centered, and gets some side padding for separation.
        </div>
    </div>
</div>