/*--------------------------------------------------- 
    cta:

    This object controls the inner spacing, font 
    styles, and other related styles of stand-alone 
    CTA's. This class intends to be extended for 
    variation, similar to headings. Not intended for
    use in a table cell. Use the "cell" object in that
    case for an extra markup layer.

---------------------------------------------------*/

.cta {
    display: block;
    font-size: $DEFAULT_FONT_SIZE;
}

.cta_neutralBlock {
    background: $GREY_LIGHTEST;
}

.cta_neutralBlock > * {
    padding: 0px 3px;
    font-size: $FONT_SIZE_MEDIUM;
}

.cta_neutralBlock:active { 
    background: $GREY_LIGHTER;
}

.cta_icnLeftAccent {
    padding: 5px 5px 5px 25px;
    position: relative;
    color: $ORANGE_MED_DARK;
    cursor: pointer;
    
    // Because it's applied on a link
    &:hover { color: $ORANGE; }
    &:active { color: $ORANGE_DARK; }

}

.cta_icnLeftAccent > .icn {
    position: absolute;
    left: 5px;
    font-size: $FONT_SIZE_MEDIUM;
}