/*--------------------------------------------------------------------------- 
    InnerSect:

    This cousin to Vertical Rhythm provides vertical
    spacing between associated elements (intra-modular OR intra-association).
---------------------------------------------------------------------------*/

.innerSect {
    margin-bottom: 2px;
}

.innerSect_x2 {
    margin-bottom: 4px
}

.innerSect_x4 {
    margin-bottom: 8px;
}

.innerSect_x9 {
    margin-bottom: 18px;
}