<!-- #METADATA
@title innerSect
@type Layout
@class "innerSect"
@description "innerSect" provides vertical spacing from within an object/group as opposed to between them (see "vr" object).
@note 
 -->

 <fieldset class="vr vr_x10">
     <div class="innerSect innerSect_x9">
         <legend class="hdg hdg_7">The spacing between this heading and the form elements is from innerSect.<sup class="text text_lightAccent mix-text_inheritSize">*</sup></legend>
     </div>

     <ul class="hList hList_spacedXXLg">
         <li>
             <label class="radioBox">
                 <div class="radioBox-input">
                     <div class="innerSect">
                         <input name="example" value="id" type="radio" />
                     </div>
                 </div>
                 <div class="radioBox-copy">
                     <div class="innerSect">
                         <span class="hdg hdg_3 mix-hdg_darken">Label</span>
                     </div>
                     <span class="text text_smallBlock">Some description of the form element</span>
                 </div>
             </label>
         </li>
         <li>
             <label class="radioBox">
                 <div class="radioBox-input">
                     <div class="innerSect">
                         <input name="example" value="id" type="radio" />
                     </div>
                 </div>
                 <div class="radioBox-copy">
                     <div class="innerSect">
                         <span class="hdg hdg_3 mix-hdg_darken">Label</span>
                     </div>
                     <span class="text text_smallBlock">Some description of the form element</span>
                 </div>
             </label>
         </li>
     </ul>
 </fieldset>