<!-- #METADATA
@title Vertical Rhythm (vr)
@type Layout
@class "vr"
@description This inter-modular spacer (separates one module/object from another). It wraps objects and supplys a bottom margin.
@note The base unit of spacing is 4px. Each extension is a multiple of that amount (i.e. "vr_x2"). Visible border is for demonstration purposes.
 -->

<div class="vr">
    <div class="styleguide-exampleDarkBlock">
        Object wrapped with vr object.
    </div>
</div>
<div class="vr vr_x2">
    <div class="styleguide-exampleDarkBlock">
        Object wrapped with vr and vr_x2 extension.
    </div>
</div>
<div class="vr vr_x3">
    <div class="styleguide-exampleDarkBlock">
        Object wrapped with vr and vr_x3 extension.
    </div>
</div>
<div class="vr vr_x4">
    <div class="styleguide-exampleDarkBlock">
        Object wrapped with vr and vr_x4 extension.
    </div>
</div>
<div class="vr vr_x4plusHalf">
    <div class="styleguide-exampleDarkBlock">
        Object wrapped with vr and vr_x4plusHalf: Class name means this --> (unit*4 + (unit/2)).
    </div>
</div>
<div class="vr vr_x5">
    <div class="styleguide-exampleDarkBlock">
        Object wrapped with vr and vr_x5 extension.
    </div>
</div>
<div class="vr vr_x6">
    <div class="styleguide-exampleDarkBlock">
        Object wrapped with vr and vr_x6 extension.
    </div>
</div>
<div class="vr vr_x7">
    <div class="styleguide-exampleDarkBlock">
        Object wrapped with vr and vr_x7 extension.
    </div>
</div>
<div class="vr vr_x8">
    <div class="styleguide-exampleDarkBlock">
        Object wrapped with vr and vr_x8 extension.
    </div>
</div>
<div class="vr vr_x9">
    <div class="styleguide-exampleDarkBlock">
        Object wrapped with vr and vr_x9 extension.
    </div>
</div>
<div class="vr vr_x10">
    <div class="styleguide-exampleDarkBlock">
        Object wrapped with vr and vr_x10 extension.
    </div>
</div>
<div class="vr vr_x11">
    <div class="styleguide-exampleDarkBlock">
        Object wrapped with vr and vr_x11 extension.
    </div>
</div>
<div class="vr vr_x12">
    <div class="styleguide-exampleDarkBlock">
        Object wrapped with vr and vr_x12 extension.
    </div>
</div>
