/*------------------------------------------------------- 
    popout:

    An object with a trigger and a container. The 
    containers visibility is toggled upon applied active
    class.
-------------------------------------------------------*/

.popout {
    position: relative;
}

.popout-icn {
    display: block;
    padding: 0 7px;
    background: $ORANGE_LIGHT;
    cursor: pointer;
}

.popout_isActive > .popout-icn {
    background: $ORANGE_DIRTY;
}

.popout-icn > * {
    font-size: $FONT_SIZE_JUMBO;
    color: $WHITE;
}

.popout-icn > * + * {
    padding: 0 0 0 6px;
    font-size: $DEFAULT_FONT_SIZE;
}

.popout-container {
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
}

.popout-container_isSeen {
    width: 206px;
    height: auto;
    clip: rect(auto auto auto auto);
    overflow: auto;
}

.popout_isActive > .popout-container {
    border: 1px solid $GREY_LIGHT;
    padding: 12px 10px;
    width: 206px;
    height: auto;
    clip: rect(auto auto auto auto);
    right: 0;
    @include border-radius(2px);
    @include box-shadow(0px 2px 1px -1px $GREY_LIGHT);
    background: $WHITE;
    z-index: 100;
    overflow: auto;
}

.popout-container-hd {
    margin-bottom: 10px;
}

.popout-container-bd {
    font-size: $FONT_SIZE_SMALL;
}