<!-- #METADATA
@title Mix Grid
@type Layout
@class "mixGrid"
@description A major layout object with one fixed column and one fluid column.
@note Use case would be for main layout of page. Fixed grid is for a sidebar, fluid column is for main content.
 -->
<div class="mixGrid">
    <div class="mixGrid-fixedCol">
        <div class="styleguide-exampleBlock"><span class="u-bold u-break">I am fixed at 248 pixels</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia ipsam aperiam pariatur, doloribus beatae, minus deleniti, ab commodi similique labore perferendis quas quod earum error dignissimos nam eius incidunt deserunt!</div>
    </div>
    <div class="mixGrid-col mixGrid-fluidCol">
        <div class="styleguide-exampleBlock"><span class="u-bold u-break">I expand as far as my parent container allows:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium deleniti atque distinctio neque cupiditate magni porro tempore, maxime, totam molestias cumque natus earum quod, eius officia reprehenderit suscipit impedit nostrum.</div>
    </div>
</div>