/*--------------------------------------------------- 
    FocusBox:

    Constrains height with a background and border to bring
    attention to listed items. Includes padding.
---------------------------------------------------*/

.focusBox {
    border: 1px solid $GREY_MEDIUM;
    padding: 10px;
    @include border-radius(2px);
    @include box-sizing(border-box);
    background: $WHITE;
    max-height: 220px;
    overflow-y: auto;
}

.focusBox_sansRightPad {
    padding: 10px 0 10px 10px;
}

.focusBox_taller {
    max-height: 320px;
}