<!-- #METADATA
@title Blocks
@type Layout
@class "blocks"
@description Displays objects horizontally, controlling even width distribution of children..
@note Object needs extensions for varying percentage distribution. "blocks_2up" means 50% width for each child. Visible border is for demonstration purposes.
 -->
<div class="vr vr_x4">
    <ul class="blocks blocks_3up">
        <li>
            <div class="styleguide-exampleBlock">A test object to show how Blocks's 3up extension lays out objects.</div>
        </li>
        <li>
            <div class="styleguide-exampleBlock">A test object to show how Blocks's 3up extension lays out objects.</div>
        </li>
        <li>
            <div class="styleguide-exampleBlock">A test object to show how Blocks's 3up extension lays out objects.</div>
        </li>
    </ul>
</div>
<div class="vr vr_x12">
    <ul class="blocks blocks_2up">
        <li>
            <div class="styleguide-exampleBlock">A test object to show how Blocks's 2up extension lays out objects.</div>
        </li>
        <li>
            <div class="styleguide-exampleBlock">A test object to show how Blocks's 2up extension lays out objects.</div>
        </li>
    </ul>
</div>