/* Icont Font */
@font-face {
    font-family: 'optum';
    src:url('../media/fonts/optum.eot?-5971wk');
    src:url('../media/fonts/optum.eot?#iefix-5971wk') format('embedded-opentype'),
        url('../media/fonts/optum.woff?-5971wk') format('woff'),
        url('../media/fonts/optum.ttf?-5971wk') format('truetype'),
        url('../media/fonts/optum.svg?-5971wk#optum') format('svg');
    font-weight: normal;
    font-style: normal;
}