/*-------------------------------------------------------------- 
    Logo:

    .logo         -> controls layout, 
    .logo-content -> controls background image and heading copy
    
    EXAMPLE MARKUP
    <a class="logo" href="#">
        <h1 class="logo-content">Optum<sup>™</sup> Stingray</h1>
    </a>
--------------------------------------------------------------*/

.logo {
    display: block; /* Because logo class is on an inline element. */
    padding: 10px 10px 27px 0;
}

.logo-content { /* Applied to h1 heading */
    // Original logo dimensions (i.e. non-beta logo) is 238px (width) by 41px (height). 
    // TODO- Remove "-beta(-)" from the file name to revert to original logo after beta is done and revert to original dimensions.
    width: 292px;
    height: 41px;
    background: url("../media/images/logo-beta-small.png") no-repeat; // Only gets applied in IE8. Other browsers get override below.
    @include image-replacement();
    
    // Browserhack: (Selects Everything but IE8)
    :root & {
        background: url("../media/images/logo-beta.png") no-repeat;
        background-size: 100%;
    }

}

// Load the Styleguide logo for the styleguide.html page
.logo_styleguide .logo-content {
    width: 313px;
    height: 41px;
    background: url("../media/images/logo-styleguide-small.png") no-repeat; // Only gets applied in IE8. Other browsers get override below.

    // Browserhack: (Selects Everything but IE8)
    :root & {
        background: url("../media/images/logo-styleguide.png") no-repeat;
        background-size: 100%;
    }
}