/* ---------------------------------------------------------------------
 loaderOverlay:
 This object absolutely centers a loading overlay with an implied loading
 gif. Assumes a parent that is positioned relative or absolute.
------------------------------------------------------------------------ */

.loaderOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.loaderOverlay-loader > img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loaderOverlay_gradient {
    background-color: rgba(255, 255, 255, 0.5);
}

.mix-loaderOverlay_fixedPage { // Should be added for full page overlays
    position: fixed;
}