/* Font Sizes */
$DEFAULT_FONT_SIZE: 16px;

$FONT_SIZE_XLG_XXL: 36px;
$FONT_SIZE_XLG_XL: 34px;
$FONT_SIZE_XLG_L: 32px;
$FONT_SIZE_XLG: 30px;
$FONT_SIZE_LG_XXL: 28px;
$FONT_SIZE_LG_XL: 26px;
$FONT_SIZE_LG_L: 24px;
$FONT_SIZE_LG: 24px;
$FONT_SIZE_MD_XXL: 22px;
$FONT_SIZE_MD_XL: 20px;
$FONT_SIZE_MD_L: 18px;
$FONT_SIZE_MD: $DEFAULT_FONT_SIZE; // 16px
$FONT_SIZE_SM_L: 14px;
$FONT_SIZE_SM: 12px;
$FONT_SIZE_XSM_L: 10px;
$FONT_SIZE_XSM: 8px;

/* Font Families */
$FONT_FAMILY_STD: Arial, Helvetica, sans-serif;

/* COLORS */