/* Font Sizes */

// HOW-TO-READ EXAMPLE: $FONT_SIZE_SMALL_MED == A medium sized font within the "SMALL" category.
$DEFAULT_FONT_SIZE: 14px;
$FONT_SIZE_XXSMALL: 10px;
$FONT_SIZE_XSMALL: 11px;
$FONT_SIZE_SMALL: 12px;
$FONT_SIZE_SMALL_MED: 13px;
$FONT_SIZE_MEDIUM: 16px;
$FONT_SIZE_MEDIUM_LARGE: 18px;
$FONT_SIZE_MEDIUM_XLARGE: 20px;
$FONT_SIZE_LARGE: 24px;
$FONT_SIZE_XLARGE: 26px;
$FONT_SIZE_XXLARGE: 28px;
$FONT_SIZE_XXXLARGE: 30px;
$FONT_SIZE_JUMBO: 37px;

/* DEFAULT LINE HEIGHT */
$DEFAULT_LINE_HEIGHT: 1.2;

/* Font Families */
$FONT_FAMILY_STD: "Istok Web", Arial, Helvetica, sans-serif;

/* ORANGE */
$ORANGE_LIGHT: #eaaa00;
$ORANGE_DIRTY: #ce9403;
$ORANGE: #e77c00;
$ORANGE_MED_DARK: #de6600;
$ORANGE_DARK: #cc5e01;

/* GREY MEDIUM */
$GREY_MEDIUM: #b2b4b3;
$GREY_MEDIUM_DARK: #9e9e9e;

/* GREY DARK */
$GREY_DARK_LIGHT: #888b8d;
$GREY_DARK: #575a5d;
$GREY_DARK_DARK: #4A4C4F;

/* GREY_LIGHT */
$GREY_LIGHT: #d9d9d5;
$GREY_LIGHTER: #e2e2e2;
$GREY_LIGHTEST: #eeefed;

/* OTHER COLORS */
$PINK: #de6476;
$PINK_LIGHT: #f9e3e6;
$PINK_DARK: #d45252;
$GREEN_LIGHT: #e5f0e2;
$GREEN: #6fa557;
$NEARWHITE: #fdfdfd;
$OFFWHITE: #fafaf9;
$OFFWHITE_ORANGE_TINT: #faeed5;
$OFFWHITE_ORANGE_TINT_LIGHT: #fdf9ef;
$WHITE: #ffffff;
$OFFBLACK: #373737;
$BLACK: #000000;
$BEIGE: #fbf4e1;
$BLUE_LIGHT: #edf9ff;

/* ICON VALUES: Allows reuse on any class */
$ICN-SAVE: "\e614";
$ICN-SEARCH: "\f02e";
$ICN-PLUS: "\e607";
$ICN-MINUS: "\e615";
$ICN-X_ALTX_ALT: "\e616";
$ICN-X: "\e617";
$ICN-EXCLAMATION: "\e60c";
$ICN-CHECKMARK: "\e610";
$ICN-USERS: "\e611";
$ICN-CANCEL_CIRCLE: "\e61a"; 
$ICN-CALENDAR: "\e613";
$ICN-PHONE: "\e612";
$ICN-SETTINGS: "\e618";
$ICN-PRINT: "\e609";
$ICN-EVIDENCE: "\e60a";
$ICN-COLUMNS: "\e60b";
$ICN-CSV: "\e60d";
$ICN-PDF: "\e60e";
$ICN-XLS: "\e60f";
$ICN-FLAG: "\e606";
$ICN-MENU: "\e600";
$ICN-INFO: "\e601";
$ICN-PENCIL: "\e602";
$ICN-SPINNER: "\e603";
$ICN-LINK: "\e604";
$ICN-SORT_DESC: "\f0dd";
$ICN-SORT_ASC: "\f0de";
$ICN-ANGLE_LEFT: "\f108";
$ICN-ANGLE_RIGHT: "\f109";
$ICN-ANGLE_UP: "\f10a";
$ICN-ANGLE_DOWN: "\f107";
$ICN-DATABASE: "\f1c0";
$ICN-CHECK: "\e605";
$ICN-ATTESTATION: "\e608";
$ICN-UPLOAD: "\e2c1";
$ICN-STATS_BARS: "\e99c";
$ICN-METER: "\e9a6";
$ICN-BIN: "\e9ac";